.map {
    width: 50%;
}

.formular {
    width: 30%;
}

.table {
    width: 60%;
}
@media screen and (max-width: 768px) {
    .map {
        width: 400px;
        height: 400px;
    }

    .table {
        width: 100%;
    }
}

@media screen and (max-width: 401px) {
    .formular {
        width: 100%;
    }
    .map {
        width: 100%;
        height: 200px;
    }
} 